@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lato;
  color: #000;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  font-size: 1rem;
}

ul {
  list-style-position: inside;
}

li {
  margin: 0.2rem;
}

img {
  max-width: 100%;
  height: auto;
}

.apartment-homepage-container {
  position: absolute;
  width: 100%;
  background: #ffffff;
  padding-top: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.homepage-boxtop {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 126px;
  left: 0;
  top: 0;
  background: #ffffff;
}

.homepage-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding: 10px;
}

/* .homepage-header {
    box-sizing: border-box;
    margin-left: 200px;
    width: 100%;
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 54px;
    text-align: center;
    color: #000000;
    margin-top: 40px;
} */

/* Images */
.image-group {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40rem;
  align-items: flex-start; /* Align items to the start (left side) of the container */
  gap: 1rem;
  padding-bottom: 3rem;
}

.big-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

.individual-img-container {
  overflow: hidden;
  flex: 2;
  height: 100%;
}

.small-image-container {
  display: flex;
  flex: 1;
  flex-direction: column; /* Stack the small images and button vertically */
  align-items: flex-start; /* Align items to the start (left side) of the container */
  gap: 1rem;
  position: relative;
  height: 100%;
}

.individual-small-img-container {
  overflow: hidden;
  flex: 1;
  width: 100%;
}

.small-image-container img {
  flex: 1;
  /* width:100%; */
  position: relative;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

/* .small-images {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 20px;
    margin-top: 60px;
    align-items: flex-start;
    flex:1;
    height:100%;
} */

.filtered-image {
  mix-blend-mode: darken; /* Apply mix-blend-mode to Small 2 */
  filter: contrast(50%); /* Apply contrast filter to Small 2 */
}

.small-image-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

.show-all-button {
  color: #ffffff;
  font-size: 2rem;
  font-style: italic;

  font-weight: 700;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background: none;
  cursor: pointer;
  margin-top: 0.5rem;
  text-align: center;
}

.columned-page {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.main-apartment-column {
  flex-direction: column;
  flex: 3.5;
  gap: 2rem;
}

.smaller-column {
  flex: 2;
}

/* Listing Header */

.listing-header {
  flex-direction: column;
  padding-bottom: 2rem;
}

.big-Header {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  flex: 1;
}

.header-subtext {
  padding-top: 0.5rem;
  color: #9d9d9d;
  font-size: 1.5rem;
  flex: 1;
}

/*Contact Box*/
.contact-box {
  width: 100%;
  padding: 2rem;
  flex-shrink: 0;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 3px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: auto; /* Push the box to the right side */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 2rem;
}
/* Adjust margin from the right side on larger screens */
/* @media (min-width: 768px) {
  .contact-box {
    margin-right: 20px; 
  }
}


@media (max-width: 767px) {
  .contact-box {
    margin-right: 10px; 
  }
} */

.contact-head {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

.blue-contact-button {
  width: 80%;
  height: 3rem;
  flex-shrink: 0;
  border-radius: 15px;
  background: #00bff6;
  margin-bottom: 20px;
  padding: 0.2rem;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

.phone-number {
  color: #000;
  font-size: 1.2rem;
  font-style: normal;
  text-decoration-line: underline;
}

/* SubSection START*/
.content-container {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.map-container {
  background-color: #ffffff;
  width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  text-align: left;
  font-size: 1.8rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.about-me-text {
  padding-top: 1rem;
  font-size: 1.2rem;
  font-style: normal;
  text-align: left;
}

/*Property Details Section*/
.main-features {
  display: flex;
  flex-direction: column;
}

.main-features-header {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 1rem;
}

.main-features-list {
  font-size: 1rem;
}

.left-right-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  grid-auto-rows: auto;
}

.transport-left {
  flex: 1;
  text-align: left;
}

.transport-right {
  flex: 1;
  text-align: right;
}

/*Review Section*/
.reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  grid-auto-rows: auto;
  gap: 1rem;
}

.review-word {
  font-size: 1.5rem;
  font-weight: 600;
}

.review-num {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
}

.review-num-word {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.review-text {
  font-size: 1.2rem;
}

.review-header {
  font-size: 2rem;
  font-weight: 700;
}

.circle {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #00bff6;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.pin {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #00bff6;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.pin-text {
  background-color: #00bff6;
  border-radius: 5%;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding-top: 50%;
}

.info-circle {
  display: flex;
  width: 1rem;
  height: 1rem;
  background-color: #d9d9d9;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.date {
  color: #9d9d9d;
  font-size: 1.2rem;
}

/*Location and Map Section*/
.map {
  margin-top: 10px;
  flex: 0.75; /* Set map width to 60% */
  height: 60vh; /* Map takes up the full viewport height */
}

@media only screen and (max-device-width: 600px) {
  .apartment-homepage-container {
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .image-group {
    height: auto;
    padding-bottom: 0;
  }

  .big-image {
    height: auto;
  }

  .small-image-container {
    display: none;
  }

  .columned-page {
    flex-direction: column;
  }

  .big-Header {
    font-size: 1.5rem;
  }

  .header-subtext {
    font-size: 0.85rem;
  }

  .listing-header {
    padding-bottom: 0;
  }

  .resizablebox-template {
    margin-bottom: 0 !important;
  }

  .header {
    padding-bottom: 0;
    font-size: 1.25rem;
  }

  .contact-head {
    font-size: 1.25rem;
  }

  .blue-contact-button {
    font-size: 1rem;
  }

  .phone-number {
    font-size: 0.85rem;
  }

  .smaller-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .main-features-header {
    font-size: 1.25rem;
  }

  .review-header {
    font-size: 1.5rem;
  }

  .review-word {
    font-size: 1rem;
  }
}
