/* Add your other styles here */


.content-container {
    flex-grow: 1;
    padding: 10px;
    background-color: #ffffff;

}

.basic-details{
    color: #00BFF6;
    text-align: center;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 250px;
    margin-top: -40px;
}

.unit-details{
    
    text-align: center;
    color: #00BFF6;
    text-align: center;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* margin-right: 250px; */
    margin-top: -70px;
}

.bottom-right {
    position: relative;
    display: inline-block; /* Ensure the element doesn't take the full width */
    float: right; /* Float the element to the right */
    padding-top: -50px;
    margin-right: 30px;
}

.left-aligned-content {
    /* margin-left: 50px; */

    /* margin-bottom: 0px; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; /* Align content to the left */
    width: 100%; /* Take the full width of the parent */
    /* margin-right: 500px; */
}

.centered-text {
    text-align: center;
    padding: 10px; /* Adjust padding as needed */
    margin-top: -60px;
    margin-bottom: 50px;
    /* justify-content: center; */
}

.address{
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 100px;
    margin-top: 20px;
}

.address-text {
    margin-top: 5px;
    margin-left: 90px ;
    width: 493px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 3px solid #89D2F3;
    background: #FFF;

}

.property-text{
    margin-left: 85px;
    vertical-align: top;
    margin-top: 5px;
    width: 550px;
    min-height: 100px; /* Set a minimum height for the box */
    overflow-y: auto;
    flex-shrink: 0;
    fill: #FFF;
    stroke-width: 3px;
    stroke: #89D2F3;
    border-radius: 15px;
    border: 3px solid #89D2F3;
    background: #FFF;
    padding-top: 0;
    padding-bottom: 0;
}

.text-container {
    display: flex;
    flex-direction: column;
   
}

.unit-details-text {
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.grey-text{
    color: #D9D9D9;
    text-align: center;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 5px;
}

.unit-details-input {
    margin-top: -10px;
    margin-left: 5px;
    width: 94.3px;
    height: 30.492px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 3px solid #89D2F3;
    background: #FFF;
}

.tag-bar {
    width: 1097.56px;
    height: 42.407px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 3px solid #89D2F3;
    background: #FFF;
    margin-top: 10px;
}

.add-photos-text{
    margin-top: 20px;
    color: #9D9D9D;
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.upload-button{ 
    width: 203.32px;
    height: 44.188px;
    flex-shrink: 0;
    margin-top: 10px;
    border-radius: 20px;
    /* border: 3px solid #89D2F3; */
    background: #00BFF6;    
}
.video-bar {
    margin-top: 10px;
    
    width: 837.2px;
    height: 41.426px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 3px solid #89D2F3;
    fill: #FFF;
    stroke-width: 3px;
    stroke: #89D2F3;
}

.checkbox-container{

    display: flex;
    justify-content: flex-start; /* Align checkboxes to the left */
    gap: 10px; /* Adjust the gap between checkboxes */

}