/* styles.css */

.map-page-container {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
}

.map-page-body {
  border-top: 1px solid rgba(175, 175, 175, 0.5);
}

.map-page-search {
  height: 20%;
  padding: 2rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.map-page-search-bar {
  width: 100%;
  border-radius: 1rem;
  border: 2px solid #89d2f3;
  padding: 0.5rem;
}

.map-page-listings {
  height: 80%;
}

.map-container {
  margin-top: 10px;
  flex: 0.75; /* Set map width to 60% */
  height: 100vh; /* Map takes up the full viewport height */
}

.address-list {
  margin-top: 10px;
  margin-right: -50px;
  flex: 0.4; /* Set scrolling window width to 40% */
  height: 100vh; /* Address list takes up the full viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
  /* background-color: #f5f5f5; */
  padding: 10px;
  width: 40%; /* Width of the scrolling window */
  box-sizing: border-box; /* Include padding and border in width calculation */
  display: flex; /* Add this line to use flexbox */
  flex-direction: column; /* Stack address blocks vertically */
  align-items: center; /* Center address blocks horizontally */
}

.address-block {
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
}

@media only screen and (max-device-width: 600px) {
  .map-container {
    display: none;
  }

  .address-list {
    margin-top: 0;
    margin-right: 0;
    padding: 0;
    width: 100%; /* Width of the scrolling window */
    display: flex; /* Add this line to use flexbox */
    flex-direction: column; /* Stack address blocks vertically */
    gap: 2rem;
  }
}
